#confirm-modal-body {
  height: 130px;
  font-size: 17px;
}

#confirm-modal-close-button {
  margin-right: 10px;
}

#confirm-modal-footer-div {
  float: right;
}

#confirm-modal-disclaimer {
  margin-top: 20px;
  color: red;
  font-size: 12px;
}
