// Variable overrides
$sidebar-bg: #14396b;
$sidebar-nav-link-active-bg: #20a8d8;
$sidebar-nav-link-hover-bg: #30b4e254;
$sidebar-nav-link-active-icon-color: #ffffff;
$sidebar-nav-link-padding-y: 15px;
$body-bg: #ffffff;
